<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css')}}">
  <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</head>
<body>
  <button id="toggle-button" onclick="toggleProfile()"><i class="fas fa-bars"></i></button>

  <div id="profile-container" style="display: none;">
    <div class="profile-icon">
      <i class="fas fa-user-circle fa-10x"></i>
    </div>
    <div class="profile-text">
      <h1>Welcome, {{ user.username }}!</h1>
      <p>Email: {{ user.email }}</p>
    </div>
    <div class="profile-actions">
      <a href="{{ url_for('user.logout') }}" class="Logout-button">
        <i class="fas fa-sign-out-alt"></i>
        Logout
      </a>
    </div>
    {% for house in houses %}
    <div class="house">
        <img src="{{ url_for('house.upload', filename=house.photo_filename) }}" alt="House Image">
        <h2>{{ house.location }}</h2>
        <p>Price: {{ house.price }}</p>
        <p>Description: {{ house.description }}</p>
    </div>
{% endfor %}
  </div>
<div id="add-house">
  {% include 'home.html' %}
</div>
</body>
</html>
